<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
 	<add name="ConnectionStringSQL143" connectionString="Provider=SQLOLEDB;Data Source=WIN-P42Q715RM6M;Initial Catalog=Weixing;uid=weixing01;pwd=6019787." />
	<add name="ConnectionStringSQL145" connectionString="Provider=SQLOLEDB;Data Source=LAPTOP-S8MU1CEN;Initial Catalog=Weixing;uid=weixing01;pwd=6019787." />
    	<add name="ConnectionStringSQL4" connectionString="Provider=sqloledb;Data Source=DESKTOP-JM4MUBB\SQLEXPRESS;Initial Catalog=WarpKnitting;integrated security=false;uid=sa;pwd=1234;Integrated Security=SSPI"/>
    	<add name="ConnectionStringSQL414" connectionString="Provider=sqloledb;Data Source=WIN-PIM58359MO9\SQLEXPRESSDELL;Initial Catalog=WarpKnitting;integrated security=false;uid=sa;pwd=1234;Integrated Security=SSPI"/>
  </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
